<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Angular!</title>
    <script src="angular.js"></script>
</head>
<body ng-init="name = 'Omer'">
    <p>NAME = <span ng-bind="name"/> </p>
    <p ng-if="name == 'Omer'">Hello Omer</p>
    <p ng-if="name != 'Omer'">It's not Omer, get out!!!</p>
    <p>FULL NAME = {{name + ' Hindy'}}</p>
    
</body>
</html>